$bg-color: #fff5ec;
$primary-color: #9cc264;
$heading-color: #362e74;
$paragraph-color-01: rgba(0,0,0,.5);
$paragraph-color-02: rgba(255,255,255,.8);
$general-color: rgba(0,0,0,.7);

$white: #fff;
$black: #000;
$light-gray: #ccc;
$very-light-gray: #eee;