@font-face {
    font-family: 'Be_Vietnam_Regular';
    src: url('/src/fonts/BeVietnam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Be_Vietnam_Medium';
    src: url('/src/fonts/BeVietnam-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Be_Vietnam_Italic';
    src: url('/src/fonts/BeVietnam-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Be_Vietnam_Bold';
    src: url('/src/fonts/BeVietnam-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dancing_Bold';
    src: url('/src/fonts/DancingScript-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Dancing_Medium';
    src: url('/src/fonts/DancingScript-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Gotisch_Semi_Bold';
    src: url('/src/fonts/GrenzeGotisch-SemiBold.ttf') format('truetype');
}


