.header{
    height: 6rem;
    z-index: 9;
    background-color: $black;
    width: 100vw;
    position: sticky;
    top: 0;
    .navbar{
        width: 80%;
        margin: 0 auto;

        .logo{
            .nav-link{font-family: $gotish; color: $primary-color; font-size: 3rem;}
        }

        .menu-toggler{
            color: $primary-color;
            display: none;
            cursor: pointer;

            .menu-burger{
                width: 50px;
                height: 4px;
                background-color: $white;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
                transition: all .5s ease-in-out;

                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 4px;
                    background-color: $white;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255,101,47,.2);
                    transition: all .5s ease-in-out;
                }

                &::before{transform: translateY(-16px);}
                &::after{transform: translateY(16px);}
            }

            &.open{
                .menu-burger{
                    transform: translateX(-50px);
                    background: transparent;
                    box-shadow: none;

                    &::before{transform: rotate(45deg) translate(35px, -35px);}

                    &::after{transform: rotate(-45deg) translate(35px, 35px);}
                }
            }
        }

        .nav-item{margin: 0 .6rem;}
        
        .nav-link{
            color: $white;
            font-size: 1.4rem;
            @include transition();

            &:hover{
                transform: scale(1.2);
                color: $primary-color;
                @include transition();
            }
        }
    
    }
}