.home{
    padding: 5rem;
    @include bgImg();
    color: $white;
    
    &.lazy-bg-loaded{background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
        url('/src/img/dishes/02.jpg');}

    .carousel-content{
        z-index: -1;
    }
    .home-item{
        z-index: 9;
        width: 100%;
        height: 100%;
        
        
        

        span{
            font-family: $dancing;
            font-size: 4rem;
            color: $primary-color;
        }

        h1{
            font-size: 7rem;
            color: $white!important;
        }
    }

    .home-text{
        text-align: center;
        margin-bottom: 4rem;
        
        p{
            font-family: $gotish;
            font-weight: 700;
            font-size: 2rem;
            word-spacing: 1px;
            color: $paragraph-color-02!important;
        }
    }

    .home-btns{
        .btn{
            color: $white;
            padding: 1rem 2rem;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: #5c7c2d;

            &:hover{
                @include transition();
                background-color: $primary-color;
            }
        }
    }
}

@keyframes scroll{
    0%{
        opacity: 1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(20px);
    }
}

