.menu{
    padding: 8rem 0;
    margin-bottom: 12rem;
        
        
        .menu-img{
            width: 150px;
            height: 135px;
            border-radius: 50%;
            @include bgImg();
        }

        h5{margin-bottom: 1.5rem;}

        .menu-price{font-size: 2rem; color: $primary-color;}

        .menu-link{
            font-size: 2rem;
            color: $primary-color;
        }

        .col-md-6{margin-bottom: 4rem;}

        .nav .nav-link {
            color: $heading-color;
            font-size: 1.6rem;
            text-transform: capitalize;
            position: relative;
            padding: 0!important;
            margin: 0 1rem;
            cursor: pointer;

            &::after{
                content: "";
                width: 0;
                height: 4px;
                border-radius: 5px;;
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: $primary-color;
            }

            &:hover{transform: scale(1.1); @include transition();}

        }

        .glide__bullet--active .nav-link::after{width: 100%; @include transition();}

        .menu-wrapper:nth-of-type(1){
            .menu-item{
                &:nth-child(1){.menu-img{background-image: url('/src/img/dishes/01.jpg');}}
                &:nth-child(2){.menu-img{background-image: url('/src/img/dishes/02.jpg');}}
                &:nth-child(3){.menu-img{background-image: url('/src/img/dishes/03.jpg');}}
                &:nth-child(4){.menu-img{background-image: url('/src/img/dishes/04.jpg');}}
                &:nth-child(5){.menu-img{background-image: url('/src/img/dishes/05.jpg');}}
                &:nth-child(6){.menu-img{background-image: url('/src/img/dishes/06.jpg');}}       
            }
        }
        
        .menu-wrapper:nth-of-type(2){
            .menu-item{
                &:nth-child(1){.menu-img{background-image: url('/src/img/dessert/01.jpg');}}
                &:nth-child(2){.menu-img{background-image: url('/src/img/dessert/02.jpg');}}
                &:nth-child(3){.menu-img{background-image: url('/src/img/dessert/03.jpg');}}
                &:nth-child(4){.menu-img{background-image: url('/src/img/dessert/04.jpg');}}
                &:nth-child(5){.menu-img{background-image: url('/src/img/dessert/05.jpg');}}
                &:nth-child(6){.menu-img{background-image: url('/src/img/dessert/06.jpg');}}       
            }
        }

        .menu-wrapper:nth-of-type(3){
            .menu-item{
                &:nth-child(1){.menu-img{background-image: url('/src/img/drink/01.jpg');}}
                &:nth-child(2){.menu-img{background-image: url('/src/img/drink/02.jpg');}}
                &:nth-child(3){.menu-img{background-image: url('/src/img/drink/03.jpg');}}
                &:nth-child(4){.menu-img{background-image: url('/src/img/drink/04.jpg');}}
                &:nth-child(5){.menu-img{background-image: url('/src/img/drink/05.jpg');}}
                &:nth-child(6){.menu-img{background-image: url('/src/img/drink/06.jpg');}}   
            }
        }
}