.services{
    padding: 10rem 0;

    .services-info {margin-bottom: 7rem;}

    .services-content{
        .row{margin: 0!important;}

        .services-img{
            @include bgImg(contain);
            color: $primary-color;
            background-color: #ffedde!important;

            &.table-img{background: url('/src/img/icons/table.png');}
           
    
            .delivery{
                @include bgImg(contain);
                height: 250px;
                width: 100%;
                margin-top: 1.64rem;
                

                &.lazy-bg-loaded{background: url('/src/img/icons/scooter.png');}
            }

            .cake{
                @include bgImg(contain);
                background: url('/src/img/icons/cake.png');
            }


        }
    }
    
}


